apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{"deployment.kubernetes.io/revision":"2"},"labels":{"app":"franklyn-application-server"},"name":"franklyn-application-server","namespace":"default"},"spec":{"progressDeadlineSeconds":600,"replicas":1,"revisionHistoryLimit":10,"selector":{"matchLabels":{"app":"franklyn-application-server"}},"strategy":{"rollingUpdate":{"maxSurge":"25%","maxUnavailable":"25%"},"type":"RollingUpdate"},"template":{"metadata":{"labels":{"app":"franklyn-application-server"}},"spec":{"containers":[{"env":[{"name":"DB_URL","value":"jdbc:postgresql://franklyn-db:5432/db"},{"name":"POSTGRES_USER","valueFrom":{"secretKeyRef":{"key":"POSTGRES_USER","name":"franklyn-secret"}}},{"name":"POSTGRES_DB","valueFrom":{"secretKeyRef":{"key":"POSTGRES_DB","name":"franklyn-secret"}}},{"name":"POSTGRES_PASSWORD","valueFrom":{"secretKeyRef":{"key":"POSTGRES_PASSWORD","name":"franklyn-secret"}}}],"image":"ghcr.io/htl-leonding-project/franklyn-application-server-image:latest","imagePullPolicy":"Always","name":"franklyn-application-server-image","ports":[{"containerPort":8080,"protocol":"TCP"}],"resources":{},"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"File"}],"dnsPolicy":"ClusterFirst","restartPolicy":"Always","schedulerName":"default-scheduler","securityContext":{},"terminationGracePeriodSeconds":30}}},"status":{"conditions":[{"lastTransitionTime":"2023-11-17T11:28:43Z","lastUpdateTime":"2023-11-17T11:37:56Z","message":"ReplicaSet \"franklyn-application-server-65b9f87c9f\" has successfully progressed.","reason":"NewReplicaSetAvailable","status":"True","type":"Progressing"},{"lastTransitionTime":"2023-11-17T11:44:27Z","lastUpdateTime":"2023-11-17T11:44:27Z","message":"Deployment does not have minimum availability.","reason":"MinimumReplicasUnavailable","status":"False","type":"Available"}],"observedGeneration":2,"replicas":1,"unavailableReplicas":1,"updatedReplicas":1}}

  labels:
    app: franklyn-application-server
  name: franklyn-application-server
  namespace: student-it190204

spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: franklyn-application-server
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: franklyn-application-server
    spec:
      containers:
        - env:
            - name: DB_URL
              value: jdbc:postgresql://franklyn-db-service:5432/db
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_USER
                  name: franklyn-secret
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_DB
                  name: franklyn-secret
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_PASSWORD
                  name: franklyn-secret
          image: ghcr.io/htl-leonding-project/franklyn-application-server-image:latest
          imagePullPolicy: Always
          name: franklyn-application-server-image
          ports:
            - containerPort: 8080
              protocol: TCP
          resources: { }
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: { }
      terminationGracePeriodSeconds: 30
status:
  conditions:
    - lastTransitionTime: "2023-11-17T11:57:09Z"
      lastUpdateTime: "2023-11-17T11:57:11Z"
      message: ReplicaSet "franklyn-application-server-764d7944cb" has successfully
        progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
    - lastTransitionTime: "2023-11-20T22:45:41Z"
      lastUpdateTime: "2023-11-20T22:45:41Z"
      message: Deployment does not have minimum availability.
      reason: MinimumReplicasUnavailable
      status: "False"
      type: Available
  observedGeneration: 1
  replicas: 1
  unavailableReplicas: 1
  updatedReplicas: 1
