apiVersion: v1
kind: Service
metadata:
  name: franklyn-application-server

spec:
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: franklyn-application-server
