/franklyn-frontend/node_modules
/franklyn-frontend/.angular

/db/
#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

**/node_modules/** 
# Eclipse
.project
.classpath
.settings/
bin/
**/.env.*
# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
docs/.env

dist
/docs/slides/revealjs/

*.jar
!/franklyn-frontend/src/assets/franklyn3-client.jar
!/franklyn-frontend/src/assets/franklyn3-client.zip
!/backend/lib/*.jar
/backend/db-postgres/
!/franklyn-frontend-lit/target
/client
franklyn-client/alpha
franklyn-client/beta

*.mp4

beta/**
alpha/**
**/*.jpg
**/*.png

