<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Franklyn</title>
</head>

<body id="page-top">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
<!--         <div style="margin-right: 100px;">
            <div style="display: inline-flex">
                <p style="color: white; text-align: center; margin-right: 10px;">Franklyn</p>
                <div id="circle1"
                     style="border-radius: 50%; display: inline-block; background: red; padding: 20px;"></div>
            </div>
            <div style="display: inline-flex">
                <p style="color: white; text-align: center; margin-right: 10px;">Franklyn2</p>
                <div id="circle2"
                     style="border-radius: 50%; display: inline-block; background: red; padding: 20px;"></div>
            </div>
        </div> -->
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Franklyn</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#download">Download</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header -->
<header class="masthead bg-primary text-white text-center">
    <div class="about">
        <img class="img-fluid mb-5 d-block mx-auto" src="../../../assets/img/logo.png" height="256" width="256">
        <h1 class="text-uppercase mb-0">Franklyn</h1>
        <br>
        <h2 class="font-weight-light mb-0">Exam Support System</h2>
        <br><br>
    </div>
    <!-- <div class="container">
        <div class="row">
            <div id="fr1-card" class="card col-3 ml-auto mr-1">
                <div class="card-body mx-auto">
                    <table class="text-dark">
                        <tr>
                            <td class="p-1" class="mr-1" style="font-size: 20px"><b>Server</b></td>
                            <td style="font-size: 20px"><b>Franklyn</b></td>
                        </tr>
                        <tr>
                            <td class="p-1" style="font-size: 20px">Status</td>
                            <td id="frStatus" style="font-size: 20px"></td>
                        </tr>
                        <tr> 
                            <td class="pr-4" style="font-size: 20px">Webseite</td>
                            <td style="font-size: 20px"><a href="https://franklyn.htl-leonding.ac.at" target="_blank">Franklyn</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="pr-4" style="font-size: 20px">Laufende Tests</td>
                            <td id="fr1-tests" style="font-size: 20px"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="fr2-card" class="card col-3 mr-auto">
                <div class="card-body mx-auto">
                    <table class="text-dark">
                        <tr>
                            <td class="p-1" class="mr-1" style="font-size: 20px"><b>Server</b></td>
                            <td style="font-size: 20px"><b>Franklyn2</b></td>
                        </tr>
                        <tr>
                            <td class="p-1" style="font-size: 20px">Status</td>
                            <td id="fr2Status" style="font-size: 20px"></td>
                        </tr>
                        <tr>
                            <td class="pr-4" style="font-size: 20px">Webseite</td>
                            <td style="font-size: 20px"><a href="https://franklyn2.htl-leonding.ac.at" target="_blank">Franklyn2</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="pr-4" style="font-size: 20px">Laufende Tests</td>
                            <td id="fr2-tests" style="font-size: 20px"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div> -->
</header>
<!-- About Section -->
<section id="about">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">About</h2>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <img class="img-fluid mb-5 d-block mx-auto" src="../../../assets/img/EverywhereAvailable.png" height="120"
                     width="120">
                <h3 class="header-sm" style="color: #00a896">Überall verfügbar</h3>
                <p class="lead">
                    Franklyn läuft auf jeder Plattform und benötigt keine Installation
                </p>
            </div>
            <div class="col-lg-4 ml-auto text-center">
                <img class="img-fluid mb-5 d-block mx-auto" src="../../../assets/img/DetailedAnalysis.png" height="120" width="120">
                <h3 class="header-sm" style="color: #05668d">Analyse</h3>
                <p class="lead">
                    Lehrkräfte können sich den Fortschritt ihrer Schüler live oder im Nachhinein ansehen
                </p>
            </div>
            <div class="col-lg-4 ml-auto text-center">
                <img class="img-fluid mb-5 d-block mx-auto" src="../../../assets/img/EqualOpportunities.png" height="120" width="120">
                <h3 class="header-sm" style="color: #02c39a">Chancengleichheit</h3>
                <p class="lead">
                    Jeder bekommt gleichermaßen Zugang zu Informationen und Hilfsmitteln
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Download Section -->
<section class="bg-primary text-white mb-0" id="download">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">Download</h2>
        <br>
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-download" href="./app/Franklyn%202.0.0.exe">
                <i class="fab fa-windows mr-2"></i>Download
            </a>
        </div>
        
        <!-- <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light btn-disabled" href="./app/Franklyn%202.0.0.exe">
                <i class="fab fa-windows mr-2"></i>&nbsp;Download für Windows
            </a>
            <a class="btn btn-xl btn-outline-light" href="./app/Franklyn%202.0.0.zip">
                <i class="fab fa-linux mr-2"></i>&nbsp;Download für Linux
            </a>
        </div> -->
    </div>
</section>
<!-- Login Section -->
<section id="login">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Lehrer Login</h2>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form (ngSubmit)="onSubmit(resultForm)" #resultForm="ngForm" name="sentMessage" id="loginForm">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Benutzername</label>
                            <input class="form-control" id="username" [(ngModel)]="userName" type="text" placeholder="Username"
                                   required="required" [ngModelOptions]="{standalone: true}">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Passwort</label>
                            <input class="form-control" id="password" type="password" [(ngModel)]="passWord" placeholder="Password"
                                   required="required" [ngModelOptions]="{standalone: true}">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div id="success"></div>
                    <div class="text-center mt-4">
                        <button id="loginButton" type="submit" class="btn btn-primary btn-xl">
                            Anmelden 
                        </button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
    <img class="img-fluid mb-5 d-block mx-auto" src="../../../assets/img/webuntisLogin.png" height="160" width="160">
</section>

<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small> 2019 Hannes Gerstmayr&ensp;&ensp;Michael Helcig&ensp;&ensp;Christian Straßmayr</small>
        <br>
        <small> 2021 Jonas Birklbauer&ensp;&ensp;Nico Bojer&ensp;&ensp;Lorenz Gahleitner&ensp;&ensp;Tarik Hosic</small>
        <br>
        <small> 2022 Tamara Melcher&ensp;&ensp;Michael Tran</small>
    </div>
</div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>