
  body {
    font-family: 'Heebo', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

section {
    background-color: #F7F7F7;
    padding: 6rem 0;
}

section h2 {
    font-size: 2.25rem;
    line-height: 2rem;
}

@media (min-width: 992px) {
    section h2 {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}

.btn-xl {
    padding: 1rem 1.75rem;
    font-size: 25px;
}

.btn-social {
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
}

.scroll-to-top {
    z-index: 1042;
    right: 1rem;
    bottom: 1rem;
    display: none;
}

.scroll-to-top a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba(33, 37, 41, 0.5);
    line-height: 3.1rem;
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
}

#mainNav .navbar-brand {
    color: #F7F7F7;
}

#mainNav .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #F7F7F7;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    opacity: 0.8;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #F7F7F7;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #F7F7F7;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
    }
    #mainNav .navbar-brand {
        font-size: 2em;
        -webkit-transition: font-size 0.3s;
        transition: font-size 0.3s;
    }
    #mainNav .navbar-nav {
        margin-top: 0;
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active {
        color: #05668d;
        background: #F7F7F7;
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:active,
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus,
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
        color: #05668d;
        background: #F7F7F7;
    }
    #mainNav.navbar-shrink {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header.masthead {
    padding-top: calc(6rem + 72px);
    padding-bottom: 6rem;
}

header.masthead h1 {
    font-size: 3rem;
    line-height: 3rem;
}

header.masthead h2 {
    font-size: 1.3rem;
    font-family: 'Heebo', sans-serif;
}

@media (min-width: 992px) {
    header.masthead {
        padding-top: calc(6rem + 106px);
        padding-bottom: 6rem;
    }
    header.masthead h1 {
        font-size: 4.75em;
        line-height: 4rem;
    }
    header.masthead h2 {
        font-size: 1.75em;
    }
}

.portfolio {
    margin-bottom: -15px;
}

.portfolio .portfolio-item {
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 15px;
}

.portfolio .portfolio-item .portfolio-item-caption {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background-color: #05668d;
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
}

@media (min-width: 576px) {
    .portfolio {
        margin-bottom: -30px;
    }
    .portfolio .portfolio-item {
        margin-bottom: 30px;
    }
}

.portfolio-modal .portfolio-modal-dialog {
    padding: 3rem 1rem;
    min-height: calc(100vh - 2rem);
    margin: 1rem calc(1rem - 8px);
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
}

.portfolio-modal .portfolio-modal-dialog .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.portfolio-modal .portfolio-modal-dialog .close-button i {
    line-height: 38px;
}

.portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    .portfolio-modal .portfolio-modal-dialog {
        min-height: 100vh;
        padding: 5rem;
        margin: 3rem calc(3rem - 8px);
    }
    .portfolio-modal .portfolio-modal-dialog h2 {
        font-size: 3rem;
    }
}

.floating-label-form-group {
    position: relative;
    border-bottom: 1px solid #ccc;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
}

.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #F7F7F7;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #05668d;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #F7F7F7;
}

.copyright {
    padding-top: 3rem;
    background-color: #0C242C;
    color: #F7F7F7;
}

a {
    color: #05668d;
}

a:hover {
    color: white;
}

.btn {
    border-width: 2px;
    margin-left: 3%;
    width: 300px;
    margin-top: 3%;
}

.bg-primary {
    background-color: #05668d !important;
}

.bg-secondary {
    background-color: #0C242C !important;
}

.text-primary {
    color: #05668d !important;
}

.lead{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-sm{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.text-secondary {
    color: #0C242C !important;
}

.btn-primary {
    background-color: #F7F7F7;
    border-color: #0C242C;
    color: #0C242C;
}

.btn-primary:hover {
    background-color: #0C242C;
    border-color: #0C242C;
    color: #F7F7F7;
}

.btn-download {
    background-color: #05668d;
    border-color: #F7F7F7;
    color: #F7F7F7;
}

.btn-download:hover {
    background-color: #F7F7F7;
    border-color: #F7F7F7;
    color: black;
}

.btn-secondary {
    background-color: #0C242C;
    border-color: #0C242C;
}

.btn-secondary:hover {
    background-color: #05668d;
    border-color: #05668d;
}



  .mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #CCC;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-preloader a {
    color: #CCC;
}

.mfp-preloader a:hover {
    color: #F7F7F7;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #F7F7F7;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
    opacity: 1;
}

.mfp-close:active {
    top: 1px;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #F7F7F7;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
}

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

.mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

.mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after {
    border-right: 17px solid #F7F7F7;
    margin-left: 31px;
}

.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:after {
    border-left: 17px solid #F7F7F7;
    margin-left: 39px;
}

.mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000;
}


/* Main image in popup */

img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}


/* The shadow behind the image */

.mfp-figure {
    line-height: 0;
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444;
}

.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-figure figure {
    margin: 0;
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #F3F3F3;
    word-wrap: break-word;
    padding-right: 36px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {
    /**
       * Remove all paddings around the image on small screen
       */
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }
    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }
    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }
    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        box-sizing: border-box;
    }
    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }
    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }
    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }
    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }
    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }
}