apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "2"
  labels:
    app: franklyn-db
  name: franklyn-db
  namespace: default
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: franklyn-db
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: franklyn-db
    spec:

      containers:

      - env:
        - name: DB_URL
          value: jdbc:postgresql://franklyn-db:5432/db
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              key: POSTGRES_DB
              name: franklyn-secret
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              key: POSTGRES_PASSWORD
              name: franklyn-secret
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              key: POSTGRES_USER
              name: franklyn-secret
        image: postgres:12.16-bullseye
        imagePullPolicy: IfNotPresent
        name: postgres
        ports:
        - containerPort: 5432
          protocol: TCP
        volumeMounts:
          - name: postgres-data
            mountPath: /var/lib/postgresql/data
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30

      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: franklyn-pvc
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2023-11-15T21:28:52Z"
    lastUpdateTime: "2023-11-15T21:28:52Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2023-11-15T21:28:14Z"
    lastUpdateTime: "2023-11-15T21:28:52Z"
    message: ReplicaSet "franklyn-db-6d986c9d47" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 2
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
