<app-sidebar></app-sidebar>

<div class="container-fluid">
    <div class="card">
        <h1 class="header" >Exam Titel (todo)</h1>
        <div class="screenshot">
            <div class="row">
                <div class="col-9">
                    <div class="slideshow">
                        <img class="slideshow" src="../../../assets/img/temp.png" height="650" width="1050">
                     </div>
                </div>
                <div class="col-3">
                    <div class="students">
                        <label>Schüleranzahl:</label>
                        <br>
                        <br>
                        <div class="patroullie">
                            <label>Patrouillier: </label>
                            <select class="form-select">
                                <option>Sequentiell</option>
                                <option>Zufällig</option>
                            </select>
                            <br>
                        </div>
                        <ng-container *ngFor="let examinee of examinees">
                            <br>
                            <div class="card names text-black text-left" style="--bs-bg-opacity: .1;">
                                <div class="card-body" [ngClass]="{'selected' : toggle, 'normal': !toggle}" (click)="SelectExaminee(examinee.id)">{{examinee.firstName}} {{examinee.lastName}}</div>
                            </div>                        
                        </ng-container>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>
