<app-sidebar></app-sidebar>

<div class="row large">
    <div class="col-9">
        <div class="content">
          <div class="head">
            <div class="nav-header">
                <h1 class="header-nav">Test verwalten</h1>
                <div class="logout">
                  <button class="btn btn-danger" (click)="logout()">Abmelden</button>
              </div>
            </div>
        </div>
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Test bearbeiten</h5>
                        <br>
                        <label class="form-label">Titel</label>
                        <input [(ngModel)]="exam.title" class="form-control" type="text" placeholder="Titel">
                        <br>
                        <label class="form-label">Klassen</label>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Auswahl</mat-label>
                            <mat-select [(ngModel)]="selectedFormsAny" multiple>
                              <mat-option *ngFor="let form of forms" [value]="form.id">{{form.title}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        <br>
                        <label class="form-label">Begleitlehrer</label>
                        <br>
                        <mat-form-field appearance="fill">
                          <mat-label>Auswahl</mat-label>
                          <mat-select [(ngModel)]="selectedExaminersAny" multiple>
                            <mat-option *ngFor="let examiner of examiners" [value]="examiner.id">{{examiner.firstName}} {{examiner.lastName}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <br>
                        <label class="form-label">Datum</label>
                        <input [(ngModel)]="exam.date" class="form-control" type="date">
                      </div>
                      <button (click)="save()" class="btn btn-forward lonebtn">Speichern</button>
                </div>
            </div>
            <div class="footer">
              <h1>2022 Franklyn</h1>
          </div>
    </div>
</div>