.text-used, .text-used:hover {
    color: #0C242C;
  }
  
  .text-available, .text-available:hover {
    color: #02c39a;
  }
  
  .ct-series-a .ct-slice-pie {
    fill: #02c39a !important;
  }
  
  .ct-series-b .ct-slice-pie {
    fill: #0C242C !important;
  }
  
  .ct-slice-pie {
    margin: 0 !important;
  }
  
  .chartCard .footer {
    clear: none !important;
  }
.body{
  padding-top: 20px;
  background-color: rgb(245, 244, 244) !important;
  height: 100%;
  width: 100%;
  border: none;
}
.header{
  padding-left: 20px;
}

.inner{
  margin: 20px;
  height: 150px;
}

.text{
  margin-right: 20px;
  text-align: right;
  margin-top: -10px;
  font-size: 35px;
}

.subheader{
  margin-right: 20px;
  text-align: right;
  margin-top: 10px;
}

.card-footer{
  background-color: white;
}


.col-9{
  width: 100%;
  height: 100%;
}
.large{
  height: 100%;
  background-color: rgb(245, 244, 244) !important;
  padding: 0px;
}

.inline{
  display: inline;
}

.col-left{
  float: left;
}

.col-right{
  float: right;
}

.small{
  height: 100%;
}

  