.text-used, .text-used:hover {
    color: #0C242C;
  }
  
  .text-available, .text-available:hover {
    color: #02c39a;
  }
  
  .ct-series-a .ct-slice-pie {
    fill: #02c39a !important;
  }
  
  .ct-series-b .ct-slice-pie {
    fill: #0C242C !important;
  }
  
  .ct-slice-pie {
    margin: 0 !important;
  }
  
  .chartCard .footer {
    clear: none !important;
  }
.body{
  padding-top: 20px;
  padding-right: 20px;
  background-color: rgb(238, 235, 235) !important;
  height: 100%;
}
.header{
  padding-left: 20px;
}

.inner{
  margin: 20px;
  height: 100px;
}

.text{
  margin-right: 20px;
  text-align: right;
  margin-top: -10px;
}

.subheader{
  margin-right: 20px;
  text-align: right;
  margin-top: 5px;
}


  