<div class="sidebar-slider"></div>
	  <div class="sidebar-content">
        <h2>FRANKLYN</h2>
        <div class="btn sidebar-text" (click)="ShowDashboard()">Dashboard</div>
        <div class="btn sidebar-text" (click)="ShowMyTests()">Meine Tests</div>
        <div class="btn sidebar-text" (click)="ShowScreenshots()">Screenshots</div>
        <div class="btn sidebar-text" (click)="ShowExplanation()">Anleitung</div>
        <div class="btn sidebar-btn" (click)="newTest()">
            Neuen Test erstellen
        </div>
</div>