
.nv{
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.1) !important;
    min-height: 60px;
    padding: 0px;
    margin-top: 0px;
}
.h1{
    color: #777;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 400;
    float: right;
    height: 60px;
    position: absolute; 
    top: 0;
    padding-top: 15px;
}
