<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="/api/client/login" method="post" enctype="application/x-www-form-urlencoded">
    <label for="fname">Vorname</label><br>
    <input type="text" id="fname" name="fname" required><br>
    <br>
    <label for="lname">Nachname</label><br>
    <input type="text" id="lname" name="lname" required><br>
    <br>
    <br>
    <br>
    <button type="submit">Weiter</button>
</form>
</body>
</html>