.container-fluid{
    padding: 30px;
}

.col-9{
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  .large{
    height: 100%;
    background-color: rgb(245, 244, 244) !important;
    padding: 0px;
  }

.bullet-list{
    font-size: 18px;
}

.nav-header{
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid rgb(0 0 0 / 18%);
  color: #777;
}

.footer{
  position: absolute;
  bottom: 0px;
  z-index: 2000;
  width: 83%;
  height: 80px;
  background-color: white;
  border-top: 1px solid rgb(0 0 0 / 18%);
  font-weight: 400;
  padding: 22px;
  font-size: 25px;
  text-align: right;
  color: #777;
}

.header-nav{
  float: left;
  display: inline-block;
  font-weight: 400;
  padding: 22px;
  font-size: 25px;
}

.logout{
  float: right;
  display: inline-block;
  padding: 20px;
}