<app-sidebar></app-sidebar>

<div class="row large">
    <div class="col-9">
        <div class="content">
            <div class="head">
                <div class="nav-header">
                    <h1 class="header-nav">Anleitung</h1>
                    <div class="logout">
                        <button class="btn btn-danger" (click)="logout()"><i class="bi bi-door-open"></i>&nbsp;&nbsp;&nbsp;Abmelden</button>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="bullet-list">
                            <ul>
                                <p>Professor:</p>
                                <li>Auf Neuen Test erstellen klicken</li>
                                <li>Alle nötigen Informationen eingeben</li>
                                <li>Auf Test erstellen klicken</li>
                                <li>Unter meine Tests gewünschten Test auswählen</li>
                                <li>Dann auf Screenshots gehen -> gewünschten Schüler auswählen und Screenshots ansehen</li>
                                <br>
                                <br>
                                <p>Schüler/Studenten:</p>
                                <li>Den Client auf der Website downloaden (.jar-File)</li>
                                <li>Den Client entzippen</li>
                                <li>Den Terminal öffnen und in den Ordner "franklyn-client3" gehen</li>
                                <li>Im Terminal java -jar franklyn3-client.jar eingeben und ausführen</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <h1>{{currentYear}} Franklyn</h1>
        </div>
    </div>
</div>
