<app-sidebar></app-sidebar>

<div class="row large">
    <div class="col-9">
        <div class="content">
            <div class="head">
                <div class="nav-header">
                    <h1 class="header-nav">Anleitung</h1>
                    <div class="logout">
                        <button class="btn btn-danger" (click)="logout()">Abmelden</button>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="bullet-list">
                            <ul>
                                <p>Professor:</p>
                                <li>Auf Neuen Test erstellen klicken</li>
                                <li>Alle nötigen Informationen eingeben</li>
                                <li>Auf Test erstellen klicken</li>
                                <li>Unter meine Tests gewünschten Test auswählen</li>
                                <li>Dann auf Screenshots gehen -> gewünschten Schüler auswählen und Screenshots ansehen</li>
                                <br>
                                <br>
                                <p>Schüler/Studenten:</p>
                                <li>Den Client auf der Website downloaden (Auf richtiges Betriebssytem achten!)</li>
                                <li>Download öffnen</li>
                                <li>PIN und Namen eingeben</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <h1>2022 Franklyn</h1>
        </div>
    </div>
</div>
