.form-control{
    width: 500px;
    height: 40px;
}

.form-select{
    width: 500px;
    height: 30px;
}

.btn-forward{
    color: white;
    margin-bottom: 20px;
    background-color: #02c39a;
    width: 200px;
    float: right; 
}

.lonebtn{
    margin-left: 85%;
}

.btn-forward:hover{
    background-color: #02c39a;
    color: white;
}

.btn-back{
    float: left;
}

.inline{
    margin-top: 50px;
    display: inline-block; 
    vertical-align: top;
}

.container-fluid{
    background-color: rgb(245, 244, 244) !important;
    height: 100%;
    padding: 30px;
}

.col-9{
    width: 100%;
    height: 100%;
    padding: 0px;
}
.large{
    height: 100%;
    background-color: rgb(245, 244, 244) !important;
    padding: 0px;
}

.card-title{
    font-size: 25px;
}

.form-label{
    font-size: 17px;
}

mat-form-field{
    width: 500px;
}

.card{
    width: 100%;
}

label{
    color: rgb(145, 144, 144);
}

.nav-header{
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid rgb(0 0 0 / 18%);
    font-weight: 400;
    padding: 22px;
    font-size: 25px;
    color: #777;
}