.form-control{
    width: 40%;
    height: 30px;
}

.form-select{
    width: 40%;
    height: 30px;
}

.form-group{
  height: 90px;
}

mat-form-field{
  height: 30px;
}

.btn-forward{
    color: white;
    background-color: #45cd40;
    width: 200px;
    float: right;
}

.btn-forward:hover{
    background-color: #45cd40;
    color: white;
}

.btn-back{
    float: left;
}

.inline{
    margin-top: 50px;
    display: inline-block;
    vertical-align: top;
}

.container-fluid{
    background-color: rgb(245, 244, 244) !important;
    height: 100%;
    padding: 30px;
}

.card-body{
    padding: 0px;
}

.col-9{
    width: 100%;
    height: 100%;
    padding: 0px;
}
.large{
    height: 100%;
    background-color: rgb(245, 244, 244) !important;
    padding: 0px;
}

.card-title{
    font-size: 25px;
}

.form-label{
    font-size: 17px;
}

mat-form-field{
    width: 40%;
    border-radius: 30px;
}

.card{
    width: 100%;
}

label{
    color: rgb(145, 144, 144);
}

.nav-header{
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid rgb(0 0 0 / 18%);
    color: #777;
}

.footer{
    position: absolute;
    bottom: 0px;
    z-index: 2000;
    width: 83%;
    height: 80px;
    background-color: white;
    border-top: 1px solid rgb(0 0 0 / 18%);
    font-weight: 400;
    padding: 22px;
    font-size: 25px;
    text-align: right;
    color: #777;
  }


  .header-nav{
    float: left;
    display: inline-block;
    font-weight: 400;
    padding: 22px;
    font-size: 25px;
  }

  .logout{
    float: right;
    display: inline-block;
    padding: 20px;
  }

  .required{
    width: 40%;
    height: 30px;
    padding-top: 5px;
  }

  form{
    margin: 20px;
  }

  .successful{
    margin: 20px;
  }
