<header>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</header>

<div class="sidebar-slider"></div>
	  <div class="sidebar-content">
        <h1>FRANKLYN</h1>
        <div class="btn btn-success sidebar-text" (click)="ShowDashboard()"><i class="bi bi-pie-chart"></i>&nbsp;&nbsp;&nbsp;Dashboard</div>
        <div class="btn btn-success sidebar-text" (click)="ShowMyTests()"><i class="bi bi-book"></i>&nbsp;&nbsp;&nbsp;Meine Tests</div>
        <div class="btn btn-success sidebar-text" (click)="ShowScreenshots()"><i class="bi bi-images"></i>&nbsp;&nbsp;&nbsp;Screenshots</div>
        <div class="btn btn-success sidebar-text" (click)="ShowExplanation()"><i class="bi bi-question-circle"></i>&nbsp;&nbsp;&nbsp;Anleitung</div>
        <div class="btn btn-primary sidebar-btn" (click)="newTest()">
          <i class="bi bi-folder-plus"></i>&nbsp;&nbsp;&nbsp;
            Test erstellen
        </div>
</div>
