.table{
    width: 100%;
    margin-right: 200px;
    border-bottom: white;
}

table tr.odd_col {
	background: none;
}
table tr.even_col {
	background: rgb(232, 231, 231);
    border: #ddd;
    border-top: #ddd;

}

.container-fluid{
    padding: 30px;
    background-color: rgb(245, 244, 244) !important;
    height: 100%;
}

.header3{
    padding-left: 10px;
    color: grey;
}

.header{
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.table tr.active td {
    background-color: rgb(241, 241, 241);
}

.col-9{
    width: 100%;
    height: 100%;
    padding: 0px;
}
.large{
    height: 100%;
    background-color: rgb(245, 244, 244) !important;
    padding: 0px;
}

.txt{
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
}

.tableheader{
    font-size: 15px;
    margin-bottom: 10px;
    color: rgb(227, 224, 224);
}

tr {
    margin-top: 20px;
    line-height: 35px;
    min-height: 35px;
    height: 35px;
 }

.space{
    height: 5px;
}

.nav-header{
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid rgb(0 0 0 / 18%);
    font-weight: 400;
    padding: 22px;
    font-size: 25px;
    color: #777;
}

table tr.highlight {
	background: rgb(170, 169, 169);

}