.table{
    margin-left: 20px;
    width: 1420px;
    margin-right: 20px;
    border-bottom: white;
}

table tr.odd_col {
	background: none;
}
table tr.even_col {
	background: #ddd;
}

.container-fluid{
    padding-top: 20px;
    padding-right: 20px;
    background-color: rgb(245, 244, 244) !important;
    height: 100%;
}

.header3{
    padding-left: 20px;
    color: grey;
}

.header{
    padding-left: 20px;
}

.table tr.active td {
    background-color: grey;
}