<app-sidebar></app-sidebar>

<div class="container-fluid" *ngIf="hasAlreadyExams == true">
    <div class="card">
        <h1 class="header" >Alle Tests</h1>
        <br>
        <br>
        <table class="table">
            <thead [style.color] = "'grey'">
                <td>&nbsp;Nr</td>
                <td>&nbsp;Titel</td>
                <td>&nbsp;Klassen</td>
                <td>&nbsp;Begleitlehrer</td>
                <td>&nbsp;PIN</td>
                <td>&nbsp;Datum</td>
                <td>&nbsp;Start</td>
                <td>&nbsp;Schüleranzahl</td>
                <td>&nbsp;Status</td>
                <td></td>
                <td></td>
            </thead>
            <tbody>
                <tr *ngFor="let exam of exams let odd = odd; let i = index;" [ngClass]="odd ? 'odd_col' : 'even_col'" (click)="globalService.setExamId=exam.id" >
                    <ng-container>
                        <td>{{i+1}}</td>
                        <td>{{exam.title}}</td>
                        <td *ngFor="let form of exam.forms">{{form}} </td>
                        <td *ngFor="let teacher of exam.teachers">{{teacher}}</td>
                        <td>{{exam.pin}}</td>
                        <td>{{exam.date | date: 'dd.MM.yyyy'}}</td>
                        <td>{{exam.startTime |date: 'HH:MM'}}</td>
                        <td>{{exam.nrOfStudents}}</td>
                        <td>{{exam.ongoing}}</td>
                        <td><a role="button" [style.color] = "'green'" (click)="editExam(exam.id)" >Bearbeiten</a></td>
                        <td><a role="button" [style.color] = "'red'" (click)="open(content)">Löschen</a></td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Test löschen</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<label>Test wirklich löschen?</label>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="modal.close('Delete click')">Löschen</button>
        <button type="button" class="btn" (click)="modal.dismiss('Cancel click')">Abbrechen</button>
	</div>
</ng-template>


<div class="container-fluid" *ngIf="hasAlreadyExams == false">
    <div class="card">
        <h1 class="header">
            Alle Tests
        </h1>
        <h3 class="header3">Noch keine Tests vorhanden!</h3>
    </div>
</div>


